<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>

      <!--
      <event name="publish:end">
        <handler type="Sitecore.Modules.HtmlCacheBuilder.HtmlCacheBuilderHandler, Sitecore.Modules.HtmlCacheBuilder" method="ShowAuthorMessage" patch:after="handler[9999]">
        </handler>
      </event>
      -->

      <event name="publish:end">
        <handler type="Sitecore.Modules.HtmlCacheBuilder.HtmlCacheBuilderHandler, Sitecore.Modules.HtmlCacheBuilder" method="BuildCache" patch:after="handler[9999]">

          <Dispatcher type="Sitecore.Modules.HtmlCacheBuilder.Dispatcher,Sitecore.Modules.HtmlCacheBuilder">
            <AsyncRequest>true</AsyncRequest>
          </Dispatcher>

          <UrlProducer type="Sitecore.Modules.HtmlCacheBuilder.UrlProducer,Sitecore.Modules.HtmlCacheBuilder">
            <SiteDepth>2</SiteDepth>
            <DefaultScheme>http</DefaultScheme>
            <sites hint="list">
              <site type="Sitecore.Modules.HtmlCacheBuilder.SiteSettings,Sitecore.Modules.HtmlCacheBuilder">
                <param desc="siteName">LNRS</param>
                <param desc="host"></param>
              </site>
            </sites>

            <IncludedUrls hint="list">
              <url>http://www.uol.com.br</url>
              <url>http://www.pudim.com.br</url>
            </IncludedUrls>
 
            <ExcludedUrls hint="list">
              <url>http://www.pudim.com.br</url>
              <pattern>^.*\/Content$</pattern>
            </ExcludedUrls>
          </UrlProducer>

        </handler>
      </event>
    </events>
  </sitecore>
</configuration>

